<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rent Car</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <div
        *ngIf="checkToLogin() == true && dataLoaded == true"
        class="nav-item dropdown"
      >
        <a
          class="nav-link dropdown-toggle me-3"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Management
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <a class="dropdown-item" routerLink="/cars/add">Car Management</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/brands/add"
              >Brand Management</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="/colors/add"
              >Color Management</a
            >
          </li>
        </ul>
      </div>
      <div
        *ngIf="checkToLogin() == true && dataLoaded == true"
        class="nav-item dropdown"
      >
        <a
          class="btn btn-success dropdown-toggle me-3"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          >{{ user.firstName }} {{ user.lastName }}</a
        >
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" routerLink="profile">Settings</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a (click)="logOut()" class="dropdown-item">Sign Out</a>
          </li>
        </ul>
      </div>
      <div *ngIf="checkToLogin() == false">
        <form class="d-flex">
          <button
            routerLink="/register"
            class="btn btn-sm btn-danger me-3"
            type="button"
          >
            Register
            <i class="bi bi-person-plus-fill"></i>
          </button>
          <button
            routerLink="/login"
            class="btn btn-outline-success"
            type="button"
          >
            Login<i class="bi bi-box-arrow-in-right"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>
