<form>
  <div class="mb-3">
    <span class="d-block p-2 bg-dark text-white">Brands</span>
    <app-spinner *ngIf="dataLoaded == false"></app-spinner>
    <select
      (change)="setCurrentBrand()"
      [(ngModel)]="currentBrand"
      name="brandSelect"
      class="form-select"
      aria-label="Brands"
    >
      <option [ngValue]="allBrand" [selected]="allBrandSelected()">
        All Brands
      </option>
      <option [ngValue]="brand" *ngFor="let brand of brands">
        {{ brand.brandName }}
      </option>
    </select>
  </div>
</form>
