<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-info">Brands</li>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"></label>
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="Enter a Brand"
    />
  </div>
  <div *ngIf="filterText.length > 2" class="alert alert-success">
    {{ filterText }} searching...
  </div>

  <li routerLink="/cars">All Brands</li>
  <li
    *ngFor="let brand of brands | filterBrand: filterText"
    (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{ brand.brandId }}"
    [class]="getCurrentBrand(brand)"
  >
    {{ brand.brandName }}
  </li>
</ul>
<br />
<hr />
<br />
