<div class="row">
  <div class="col-md-8">
    <div
      id="carImageSlide"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div
        class="carousel-inner d-flex"
        style="height: 50vh; min-height: 20rem; max-height: 30rem"
      >
        <div
          *ngFor="let image of carImages; index as i; first as firstImage"
          class="carousel-item align-self-center"
          [ngClass]="{ active: firstImage }"
          style="height: 100%; width: 100%"
        >
          <img
            src="{{ baseImagePath }}{{ image.imagePath }}"
            class=""
            style="height: 100%; width: 100%"
            [alt]="image.imagePath"
          />
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carImageSlide"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carImageSlide"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <table *ngIf="car" class="table table-striped mt-2">
      <tbody>
        <tr>
          <th scope="row">Brand Model</th>
          <td>{{ car.brandName }} {{ car.description }}</td>
        </tr>
        <tr>
          <th scope="row">Color</th>
          <td>{{ car.colorName }}</td>
        </tr>
        <tr>
          <th scope="row">Price</th>
          <td>{{ car.dailyPrice | currency }} /Day</td>
        </tr>
        <tr>
          <th scope="row">Model Year</th>
          <td>{{ car.modelYear }}</td>
        </tr>
        <tr>
          <th scope="row">Transmission</th>
          <td>{{ car.transmission }}</td>
        </tr>
      </tbody>
    </table>
    <div class="card-body d-grid gap-2 mx-auto">
      <div class="btn-group me-2">
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#datesModel"
          class="btn btn-dark text-center"
        >
          Rent
        </button>
      </div>
    </div>
  </div>
</div>

<!--Rent Dates Model-->

<div
  class="modal fade"
  id="datesModel"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Please Select dates you want to rent car
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="rentalForm.reset()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="rentalForm">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Rent Date</span
            >
            <input
              formControlName="rentDate"
              class="form-control"
              type="date"
              required
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Return Date</span
            >
            <input
              formControlName="returnDate"
              class="form-control"
              type="date"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          (click)="checkCarAvailability()"
          type="button"
          class="btn btn-primary"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
