<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-secondary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="row">
  <h5 class="card-header text-center">Recap</h5>
  <div class="col-md-7">
    <app-payment></app-payment>
  </div>
  <div class="col-md-5">
    <div class="card">
      <h5 class="card-header">Rental Details</h5>
      <div class="card-body">
        <h5 class="card-title">Check Your Details</h5>

        <table *ngIf="carDetail" class="table table-striped mt-2">
          <tbody>
            <tr>
              <th scope="row">Brand Model</th>
              <td>{{ carDetail.brandName }} {{ carDetail.description }}</td>
            </tr>
            <tr>
              <th scope="row">Model Year</th>
              <td>{{ carDetail.modelYear }}</td>
            </tr>
            <tr>
              <th scope="row">Rent - Return</th>
              <td>
                {{ rentalDetail.rentDate }}->{{ rentalDetail.returnDate }}
              </td>
            </tr>
            <tr>
              <th scope="row">Total Price:</th>
              <td>{{ rentalDetail.totalPrice | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
