<div class="content">
  <div class="col-md-12">
    <div class="row">
      <div class="card" style="width: 17rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Car Management</h5>
          <p class="card-text">
            From this tab, you can delete, update and add vehicles.
          </p>
          <button class="btn btn-dark" routerLink="/cars/add">cars</button>
        </div>
      </div>

      <div class="card" style="width: 17rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Brand Management</h5>
          <p class="card-text">
            From this tab, you can delete, update and add brands.
          </p>
          <button class="btn btn-dark" routerLink="/brands/add">brands</button>
        </div>
      </div>

      <div class="card" style="width: 17rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Color Management</h5>
          <p class="card-text">
            From this tab, you can delete, update and add colors.
          </p>
          <button class="btn btn-dark" routerLink="/colors/add">colors</button>
        </div>
      </div>
    </div>
  </div>
</div>
