<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-secondary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"></label>
  <input
    type="text"
    [(ngModel)]="carFilter"
    class="form-control"
    id="carFilter"
    placeholder="Enter a Brand"
  />
</div>
<div *ngIf="carFilter.length > 2" class="alert alert-success">
  {{ carFilter }} searching...
</div>
<div class="row" *ngIf="dataLoaded != false">
  <div *ngFor="let car of cars" class="card" style="width: 17rem">
    <img
      src="{{ baseImagePath }}{{ getImagesByCar(car.carId) }}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">{{ car.brandName }} {{ car.description }}</h5>
      <p class="card-subtitle mb-2 text-muted">Gunluk Isler icin en ideali</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Brand: {{ car.brandName }}</li>
        <li class="list-group-item">Model Year: {{ car.modelYear }}</li>
        <li class="list-group-item">{{ car.dailyPrice }}$ daily</li>
      </ul>

      <section style="float: right">
        <button
          routerLink="/cars/cardetail/{{ car.carId }}"
          type="button"
          class="btn btn-primary"
        >
          See More
        </button>
      </section>
    </div>
  </div>
</div>

<table *ngIf="dataLoaded != false" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>BrandId</th>
      <th>ColorId</th>
      <th>Available</th>
      <th>ModelYear</th>
      <th>DailyPrice</th>
      <th>Description</th>
    </tr>
  </thead>
  <tr *ngFor="let car of cars">
    <td>{{ car.carId }}</td>
    <td>{{ car.brandName }}</td>
    <td>{{ car.description }}</td>
    <td>{{ car.colorName }}</td>
    <td>{{ car.available }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.dailyPrice }}</td>
  </tr>
</table>
