<body class="text-center">
  <main class="form-signin">
    <form [formGroup]="signUpForm">
      <h1 class="h3 mb-3 fw-normal">Sign Up</h1>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="firstName"
          placeholder="John"
        />
        <label for="name">Name</label>
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="surnam"
          formControlName="lastName"
          placeholder="Kozałski"
        />
        <label for="surname">Surname</label>
      </div>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="name@example.com"
        />
        <label for="email">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          formControlName="password"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>

      <button (click)="signUp()" class="w-100 btn btn-lg btn-primary">
        Sign Up
      </button>
      <p style="margin-top: 5px">
        Already member? <a routerLink="/login">login</a>
      </p>
      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
  </main>
</body>
